USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 10/30/2025 10:53:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 10/23/2025
-- Description:	Adds a product
-- exec AddProduct @CategoryId = 1, @ProductCode = 'sgs', @ProductName = 'Gibson SGS', @Description 'This Gibson SG electric guitar takes the best of the '62 original and adds the longer and sturdier neck joint of the late '60s models.', @ListPrice 2517.00, @DiscountPercent 52.00
-- =============================================
CREATE PROCEDURE [dbo].[AddProduct]
	@CategoryId INT,
	@ProductCode varchar(10),
	@ProductName varchar(255),
	@Description text,
	@ListPrice money,
	@DiscountPercent money
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
INSERT INTO [dbo].[Products]
           ([CategoryID]
           ,[ProductCode]
           ,[ProductName]
           ,[Description]
           ,[ListPrice]
           ,[DiscountPercent]
           ,[DateAdded])
     VALUES
           (@CategoryID,
           @ProductCode,
           @ProductName, 
           @Description, 
           @ListPrice, 
           @DiscountPercent,
		   CURRENT_TIMESTAMP)
END
