USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 10/30/2025 10:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 10/30/2025
-- Description:	Updates a product
-- exec DeleteProduct @ProductID = 1
-- =============================================
CREATE PROCEDURE [dbo].[DeleteProduct]
	@ProductID int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	IF @Delete = 1
		DELETE FROM [dbo].[Products]
		WHERE ProductID = @ProductID
	ELSE
		UPDATE [dbo].[Products]
		SET [DateUpdated] = CURRENT_TIMESTAMP
			,[IsActive] = 0
		WHERE ProductID = @ProductID
END
