USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 10/30/2025 10:52:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 10/23/2025
-- Description:	Gets a products
-- exec GetProduct @ProductId = 1
-- =============================================
CREATE PROCEDURE [dbo].[GetProduct]
	@ProductId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP (10) [ProductID],[CategoryID],[ProductCode],[ProductName],[Description]
      ,[ListPrice],[DiscountPercent],[DateAdded]
	FROM [MyGuitarShop].[dbo].[Products]
	WHERE ProductId = @ProductId;
END
