USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 10/30/2025 10:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 10/27/2025
-- Description:	Updates a product
-- exec UpdateProduct @ProductID = 1, @CategoryId = 1, @ProductCode = 'sgs', @ProductName = 'Gibson SGS', @Description = 'This Gibson SG electric guitar takes the best', @ListPrice = 2517.00, @DiscountPercent = 52.00
-- =============================================
CREATE PROCEDURE [dbo].[UpdateProduct]
	@ProductID int,
	@CategoryId int,
	@ProductCode varchar(10),
	@ProductName varchar(255),
	@Description text,
	@ListPrice money,
	@DiscountPercent money
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
UPDATE [dbo].[Products]
   SET [CategoryID] = @CategoryID
      ,[ProductCode] = @ProductCode
      ,[ProductName] = @ProductName
      ,[Description] = @Description
      ,[ListPrice] = @ListPrice
      ,[DiscountPercent] = @DiscountPercent
      ,[DateUpdated] = CURRENT_TIMESTAMP
	WHERE ProductID = @ProductID
END
